.container {
    display: flex;
    margin: 10px auto;
    width: 960px;
    height: 960px;
    border: 1px black solid;
}

.button {
    display: flex;
    background-color: blue;
    color: white;
    font-family: Arial;
    font-size: 18px;
    padding: 15px 32px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
.container div {
    background: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    flex: auto;
}